
/*HEADER*/
header {
  position: relative;
  z-index: 10;
  background-color: black;
  height: 25vh;
  min-height: 10rem;
  width: 100%;
  overflow: hidden;
}

header video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

header .container {
  position: relative;
  z-index: 2;
}

header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #240D3D;
  opacity: 0.4;
  z-index: 1;
}

header .text-custom{
  color: #b388ff;
}

.titulos {
  color: #b388ff;
  margin: auto;
  font-size: 3.5rem;
  font-weight: 300;
  animation: lights 5s 750ms linear infinite;
}

@keyframes lights {
  0% {
    color: hsl(230, 40%, 80%);
    text-shadow:
      0 0 1em hsla(320, 100%, 50%, 0.2),
      0 0 0.125em hsla(320, 100%, 60%, 0.3),
      -1em -0.125em 0.5em hsla(40, 100%, 60%, 0),
      1em 0.125em 0.5em hsla(200, 100%, 60%, 0);
  }
  
  30% { 
    color: hsl(230, 80%, 90%);
    text-shadow:
      0 0 1em hsla(320, 100%, 50%, 0.5),
      0 0 0.125em hsla(320, 100%, 60%, 0.5),
      -0.5em -0.125em 0.25em hsla(40, 100%, 60%, 0.2),
      0.5em 0.125em 0.25em hsla(200, 100%, 60%, 0.4);
  }
  
  40% { 
    color: hsl(230, 100%, 95%);
    text-shadow:
      0 0 1em hsla(320, 100%, 50%, 0.5),
      0 0 0.125em hsla(320, 100%, 90%, 0.5),
      -0.25em -0.125em 0.125em hsla(40, 100%, 60%, 0.2),
      0.25em 0.125em 0.125em hsla(200, 100%, 60%, 0.4);
  }
  
  70% {
    color: hsl(230, 80%, 90%);
    text-shadow:
      0 0 1em hsla(320, 100%, 50%, 0.5),
      0 0 0.125em hsla(320, 100%, 60%, 0.5),
      0.5em -0.125em 0.25em hsla(40, 100%, 60%, 0.2),
      -0.5em 0.125em 0.25em hsla(200, 100%, 60%, 0.4);
  }
  
  100% {
    color: hsl(230, 40%, 80%);
    text-shadow:
      0 0 1em hsla(320, 100%, 50%, 0.2),
      0 0 0.125em hsla(320, 100%, 60%, 0.3),
      1em -0.125em 0.5em hsla(40, 100%, 60%, 0),
      -1em 0.125em 0.5em hsla(200, 100%, 60%, 0);
  }
  
}

/*FIN HEADER*/

/*NAVBAR*/

.navbar {
  z-index: 1030; 
}

.navbar-nav{
  position: relative;
  right: 825px;
}

.navbar-custom{
    background-color: #0e0518;
}

.navbar-custom .nav-link{
  color: white;
  transition: color 0.3s ease;
}

.navbar-custom .nav-link:hover {
  color: #b388ff; 

}

/*FIN NAVBAR*/

/*FONDO*/

.hero {
  position: relative;
  background-color: black;
  min-height: auto;
  padding: 4rem 0;
  width: 100%;
  overflow: visible;
}

.hero video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  transform: translate(-50%, -50%);
}

.hero .container {
  position: relative;
  z-index: 2;
}

.hero .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #0e0518;
  opacity: 0.9;
  z-index: 1;
}
/*FIN FONDO*/

/*TITULO EN 3D*/
@import url(https://fonts.googleapis.com/css?family=Concert+One);


* { box-sizing:border-box; } 

body {
  background:#0a0a0a;
  overflow-y:auto;
  text-align:center;
   overflow-x: hidden;
}

figure {
  animation:wobble 5s ease-in-out infinite;
  transform-origin:center center;
  transform-style:preserve-3d;
}

@keyframes wobble {
  0%,100%{ transform:rotate3d(1,1,0,40deg); }
  25%{ transform:rotate3d(-1,1,0,40deg); }
  50%{ transform:rotate3d(-1,-1,0,40deg); }
  75%{ transform:rotate3d(1,-1,0,40deg); }
}


@keyframes glow {
  0%,100%{ text-shadow:0 0 30px purple; }
  25%{ text-shadow:0 0 30px pink; }
  50%{ text-shadow:0 0 30px violet; }
  75%{ text-shadow:0 0 30px magenta; }
}

.efecto_3d h1:nth-child(2){ transform:translateZ(5px); }
.efecto_3d h1:nth-child(3){ transform:translateZ(10px);}
.efecto_3d h1:nth-child(4){ transform:translateZ(15px); }
.efecto_3d h1:nth-child(5){ transform:translateZ(20px); }
.efecto_3d h1:nth-child(6){ transform:translateZ(25px); }
.efecto_3d h1:nth-child(7){ transform:translateZ(30px); }
.efecto_3d h1:nth-child(8){ transform:translateZ(35px); }
.efecto_3d h1:nth-child(9){ transform:translateZ(40px); }
.efecto_3d h1:nth-child(10){ transform:translateZ(45px); }

figure.efecto_3d {
  position: relative;
  height: 400px; 
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px; 
}



.efecto_3d h1 {
  animation:glow 10s ease-in-out infinite;
  display: block;
  width: 100%;
  line-height: 1.5;
  font: 900 8em 'Concert One', sans-serif;
  text-transform: uppercase;
  position: absolute; 
  top: 0;
  left: 0;
  color: #0a0a0a;
  margin: 0;
}

.villian {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}
/*FIN TITULO 3D*/

/*IMAGENES*/
#imagen1 {
  display: block;
  float: left;
  margin: 0 auto;
  width: 300px;
  height: auto;
  position: relative;
  z-index: 5; 
  border-radius: 10px
}

#imagen2 {
  display: block;
  float: left;
  margin: 0 auto;
  width: 1000px;
  height: 598.59px;
  position: relative;
  z-index: 5; 
  border-radius: 10px
}

#imagen3 {
  display: block;
  float: left;
  margin: 0 auto;
  width: 300px;
  height: auto;
  position: relative;
  z-index: 5; 
  border-radius: 10px
}


.card-img-top {
  width: 100%;
  height: 180px;
  object-fit: cover;
  object-position: center top; /* o center, bottom, left, etc */
}

/*FIN IMAGENES*/


/*PARRAFOS*/
@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);


.contenedor-revelado {
  flex: 1;
  max-width: 500px;
  position: relative;
  overflow: hidden;
}

.texto-multilinea {
  font-family: 'Anonymous Pro', monospace;
  font-size: 24px;
  color: white;
  text-align: left;
  line-height: 1.4;
  position: relative;
  display: inline-block;
}

.texto-multilinea a{
  font-family: 'Anonymous Pro', monospace;
  font-size: 24px;
  color:#b388ff;;
  text-align: left;
  line-height: 1.4;
  position: relative;
  display: inline-block;
}

/*FIN PARRAFOS*/

/*INICIO DEL FOOTER*/
.site-footer
{
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;

  padding-top: 4rem;
  border-top: 1px solid rgba(179, 136, 255, 0.2);
}


.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}



.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#b388ff;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}


footer {
  position: relative;
  z-index: 10;
  background-color: black;
  width: 100%;
  padding: 4rem 0;
  overflow: hidden;
}



footer video {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}

footer .container {
  position: relative;
  z-index: 2;
}

footer .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #240D3D;
  opacity: 0.4;
  z-index: 1;
}

/*FIN DEL FOOTER*/

/*FORMULARIO*/
input, textarea{
 background-color: #1a0a2e!important;
 border: 1px solid #b388ff!important;
 color: #b388ff !important;
}
input::placeholder, textarea::placeholder {
    color: #b388ff !important; /* Aquí pones el color que quieras */
    opacity: 1;                /* Firefox reduce la opacidad por defecto, esto lo arregla */
}


.texto-multilinea-chico{
  font-family: 'Anonymous Pro', monospace;
  font-size: 20px;
  color: white;
  text-align: center;
  line-height: 1.4;
  position: relative;
  display: inline-block;

}

.btn-outline-success{
  border: 1px solid #b388ff!important;
   color: #b388ff!important;
}

.btn-outline-success:hover{
  background-color: #1a0a2e!important;
}
/*FIN DEL FORMULARIO*/

/*LOGIN*/
.bi{
  color: white;
}
.bi:hover{
  color: #b388ff;
}