/*HEADER*/
header {
  position: relative;
  background-color: black;
  height: 25vh;
  min-height: 10rem;
  width: 100%;
  overflow: hidden;
}

header video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

header .container {
  position: relative;
  z-index: 2;
}

header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #240D3D;
  opacity: 0.4;
  z-index: 1;
}

header .text-custom{
  color: #b388ff;
}

.navbar {
  z-index: 1030; 
}

.navbar-nav{
  position: relative;
  left: 825px;
}

.navbar-custom{
    background-color: #0e0518;
}

.navbar-custom .nav-link{
  color: white;
  transition: color 0.3s ease;
}

.navbar-custom .nav-link:hover {
  color: #b388ff; 

}

.hero {
  position: relative;
  background-color: black;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.hero video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  transform: translate(-50%, -50%);
}

.hero .container {
  position: relative;
  z-index: 2;
}

.hero .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #0e0518;
  opacity: 0.9;
  z-index: 1;
}




