{% extends "base.html" %}
{%block content%}
            <h1 class="titulos">Contacto</h1>
                <p class="texto-multilinea-chico">Si requiere servicios de desarrollo o desea realizar una propuesta profesional, puede contactarme a través de este formulario. Estoy disponible para colaborar en proyectos y oportunidades laborales.</p>
                <!-- Formulario de Contacto -->
                <form action="{{ url_for('contacto_bp.contacto') }}" method="POST">
                    <!-- Nombre -->
                    <label for="nombre" class="texto-multilinea">Nombre</label><br>
                    <input type="text" id="nombre" name="nombre_usuario" class="form-control" placeholder="Nombre" required><br>
                    <!-- Apellido -->
                    <label for="apellido" class="texto-multilinea">Apellido</label><br>
                    <input type="text" id="apellido" name="apellido_usuario" class="form-control" placeholder="Apellido" required><br>
                    <!-- Mail -->
                    <label for="e-mail" class="texto-multilinea">E-Mail</label><br>
                    <input type="email" id="e-mail" name="email_usuario" class="form-control" placeholder="E-Mail" required><br>
                    <!-- Teléfono -->
                    <label for="telefono" class="texto-multilinea">Teléfono</label><br>
                    <input type="tel" id="telefono" name="telefono_usuario" class="form-control" placeholder="Teléfono" required><br>
                    <!-- Mensaje -->
                    <label for="mensaje" class="texto-multilinea">Mensaje</label><br>
                    <textarea id="mensaje" name="mensaje_usuario" placeholder="Mensaje" class="form-control" rows="4" cols="50" required></textarea><br>
                    <!-- Botón de Envío -->
                    <button type="submit" id="envio" class="btn btn-outline-success">Enviar</button>
                </form>
{%endblock%}