<!DOCTYPE html>
<html lang="es">
    
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pedro Perez Mochetti</title>

    <link rel ="stylesheet" href = {{url_for('static',filename= 'css/style.css', _external=true)}}>
    <link rel ="stylesheet" href = {{url_for('static',filename= 'css/bootstrap.min.css', _external=true)}}>
</head>



<body>
  <header>

    <!-- efecto de transparencia (css) -->
    <div class="overlay"></div>

    <!-- Video del Header -->
    <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
      <source src= {{url_for('static',filename= 'images/header_gif.mp4', _external=true)}}> type="video/mp4">
    </video>

    <!-- Contenido del header -->
    <div class="container h-100">
      <div class="d-flex h-100 text-center align-items-center">
        <div class="w-100 text-custom">
          <h1 class="display-3" id="titulo-header">Pedro Perez Mochetti</h1>
          <p class="lead mb-0">Estudiante de FIUBA</p>
        </div>
      </div>
    </div>





  </header>
  <!--Navbar-->
  <nav class="navbar navbar-expand-lg navbar-dark navbar-custom sticky-top">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Mis Proyectos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contacto</a>
        </li>
      </ul>
    </div>
  </nav>


  <div class="hero">   <!--Estructura principal-->

      <!--Video de fondo -->
    <div class="overlay"></div>

    <video playsinline autoplay muted loop>
      <source src={{url_for('static', filename='images/fondo_body.mp4', _external=true)}} type="video/mp4">
    </video>

    <!--todo el contenido central de inicio -->

    <!--tefecto 3d  -->
    <div class="container villian">
      <div class="d-flex text-center align-items-center">
        <div class="w-100 text-custom">
          <figure class ="efecto_3d">
            <h1>BIENVENIDOS A MI PORTAFOLIO</h1>
            <h1>BIENVENIDOS A MI PORTAFOLIO</h1>
            <h1>BIENVENIDOS A MI PORTAFOLIO</h1>
            <h1>BIENVENIDOS A MI PORTAFOLIO</h1>
            <h1>BIENVENIDOS A MI PORTAFOLIO</h1>
            <h1>BIENVENIDOS A MI PORTAFOLIO</h1>
            <h1>BIENVENIDOS A MI PORTAFOLIO</h1>
            <h1>BIENVENIDOS A MI PORTAFOLIO</h1>
            <h1>BIENVENIDOS A MI PORTAFOLIO</h1>
            <h1>BIENVENIDOS A MI PORTAFOLIO</h1>  
          </figure>
        </div>
      </div>
    </div>
    
  </div> <!--FIN DE LA ESTRUCTURA PRINCIPAL-->

  

  


  <footer>
      <!--TODO EL FOOTER-->
  </footer>
  
  <script src={{url_for('static', filename='js/bootstrap.bundle.min.js', external="True")}}></script>
</body>



</html>

 