<!DOCTYPE html>
<html lang="es">
    
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pedro Perez Mochetti</title>

    <link rel ="stylesheet" href = {{url_for('static',filename= 'css/style.css', _external=true)}}>
    <link rel ="stylesheet" href = {{url_for('static',filename= 'css/bootstrap.min.css', _external=true)}}>
</head>



<body> 
  <header> <!-- INICIO DE LA ESTRUCTURA PRINCIPAL -->

    <!-- efecto de transparencia (css) -->
    <div class="overlay"></div>

    <!-- Video del Header -->
    <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
      <source src= {{url_for('static',filename= 'images/header_gif.mp4', _external=true)}}> type="video/mp4">
    </video>

    <!-- Contenido del header -->
    <div class="container h-100">
      <div class="d-flex h-100 text-center align-items-center">
        <div class="w-100 text-custom">
          <h1 class="display-3 titulos">Pedro Perez Mochetti</h1>
          <p class="lead mb-0">Estudiante de FIUBA</p>
        </div>
      </div>
    </div>





  </header>
  <!--Navbar-->
  <nav class="navbar navbar-expand-lg navbar-dark navbar-custom sticky-top">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Mis Proyectos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contacto</a>
        </li>
      </ul>
    </div>
  </nav>


  <div class="hero">   <!--Estructura principal-->

      <!--Video de fondo -->
    <div class="overlay"></div>

    <video playsinline autoplay muted loop>
      <source src={{url_for('static', filename='images/fondo_body.mp4', _external=true)}} type="video/mp4">
    </video>

    <!--todo el contenido central de inicio -->

    <!--efecto 3d  -->
    <div class="container villian">
      <div class="d-flex text-center">
        <div class="w-100 text-custom">
          <figure class ="efecto_3d">
            <h1>BIENVENIDOS A MI PORTAFOLIO</h1>
            <h1>BIENVENIDOS A MI PORTAFOLIO</h1>
            <h1>BIENVENIDOS A MI PORTAFOLIO</h1>
            <h1>BIENVENIDOS A MI PORTAFOLIO</h1>
            <h1>BIENVENIDOS A MI PORTAFOLIO</h1>
            <h1>BIENVENIDOS A MI PORTAFOLIO</h1>
            <h1>BIENVENIDOS A MI PORTAFOLIO</h1>
            <h1>BIENVENIDOS A MI PORTAFOLIO</h1>
            <h1>BIENVENIDOS A MI PORTAFOLIO</h1>
            <h1>BIENVENIDOS A MI PORTAFOLIO</h1>  
          </figure>
          <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
              <div class="carousel-item active">
                <div class="d-flex align-items-start justify-content-center flex-wrap mt-5">
                  <div class="me-4">
                    <img id="imagen1" src="{{url_for('static', filename='images/yo.png', _external=true)}}" alt="yo mismo">
                  </div>
                  <div class="contenedor-revelado">
                    <h2 class="titulos">¿QUIEN SOY?</h2>
                    <p class="texto-multilinea"> Soy un estudiante de Ingeniería en Informática en la Facultad de Ingeniería de la Universidad de Buenos Aires (FIUBA). Inicié la carrera en 2023 y desde entonces me formo de manera constante en el área de la informática, con un fuerte interés por el desarrollo de software y la tecnología en general. Me considero una persona curiosa, exigente con la calidad de lo que hago y siempre dispuesta a aprender cosas nuevas, tanto dentro como fuera del ámbito académico. Si queres contactarme podes hacerlo en el apartado de:<a class="nav-link" href="#">Contacto</a></p>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="d-flex align-items-start justify-content-center flex-wrap mt-5">
                  <div>
                    <h2 class="titulos">TECNOLOGIAS QUE UTILIZO</h2>
                    <img  id="imagen2" src="{{url_for('static', filename='images/tecnologias.png', _external=true)}}" alt="yo mismo">
                  </div>
                  <div class="me-4">
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="d-flex align-items-start justify-content-center flex-wrap mt-5">
                  <div class="me-4">
                    <img id="imagen3" src="{{url_for('static', filename='images/galaxia.png', _external=true)}}" alt="yo mismo">
                  </div>
                  <div class="contenedor-revelado">
                    <h2 class="titulos">MIS PROYECTOS</h2>
                    <p class="texto-multilinea"> En esta pagina comparto los proyectos que voy desarrollando a lo largo de mi carrera, tanto los realizados en el ámbito académico como aquellos que surgen de forma personal. Me interesa no solo mostrar el resultado final, sino también el proceso detrás de cada proyecto, las decisiones técnicas y los problemas que fui resolviendo en el camino. Este sitio funciona como un registro de aprendizaje y experimentación constante. Para conocer cada trabajo en profundidad, podés dirigirte al apartado de <a class="nav-link" href="#">Mis Proyectos</a></p>
                  </div>
                </div>
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
          
        </div>
      </div>
    </div>




  </div> <!--FIN DE LA ESTRUCTURA PRINCIPAL-->

  


  
  <footer class="site-footer"> <!-- INICIO DEL FOOTER -->
    <div class="overlay"></div>

    <!-- Video del Header -->
    <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
      <source src= {{url_for('static',filename= 'images/header_gif.mp4', _external=true)}}> type="video/mp4">
    </video>

    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <h6>About</h6>
          <p class="text-justify">Scanfcode.com <i>CODE WANTS TO BE SIMPLE </i> is an initiative  to help the upcoming programmers with the code. Scanfcode focuses on providing the most efficient code or snippets as the code wants to be simple. We will help programmers build up concepts in different programming languages that include C, C++, Java, HTML, CSS, Bootstrap, JavaScript, PHP, Android, SQL and Algorithm.</p>
        </div>

        <div class="col-xs-6 col-md-3">
          <h6>Categories</h6>
          <ul class="footer-links">
            <li><a href="http://scanfcode.com/category/c-language/">C</a></li>
            <li><a href="http://scanfcode.com/category/front-end-development/">UI Design</a></li>
            <li><a href="http://scanfcode.com/category/back-end-development/">PHP</a></li>
            <li><a href="http://scanfcode.com/category/java-programming-language/">Java</a></li>
            <li><a href="http://scanfcode.com/category/android/">Android</a></li>
            <li><a href="http://scanfcode.com/category/templates/">Templates</a></li>
          </ul>
        </div>

        <div class="col-xs-6 col-md-3">
          <h6>Quick Links</h6>
          <ul class="footer-links">
            <li><a href="http://scanfcode.com/about/">About Us</a></li>
            <li><a href="http://scanfcode.com/contact/">Contact Us</a></li>
            <li><a href="http://scanfcode.com/contribute-at-scanfcode/">Contribute</a></li>
            <li><a href="http://scanfcode.com/privacy-policy/">Privacy Policy</a></li>
            <li><a href="http://scanfcode.com/sitemap/">Sitemap</a></li>
          </ul>
        </div>
      </div>
      <hr>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-6 col-xs-12">
          <p class="copyright-text">Copyright &copy; 2017 All Rights Reserved by 
        <a href="#">Scanfcode</a>.
          </p>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12">
          <ul class="social-icons">
            <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
            <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>   
          </ul>
        </div>
      </div>
    </div>
  </footer> <!-- FIN DEL FOOTER -->
  
  <script src={{url_for('static', filename='js/bootstrap.bundle.min.js', external="True")}}></script>
</body>



</html>

 