{% extends "base.html" %}
{%block content%}
     <div id="login">
        {% if errores %}
            {% for error in errores %}
               <p style="color:red; font-size: 30px;">{{ error }}</p>
            {% endfor %}
        {% endif %}
        <h3 class="text-center text-white pt-5 titulos">Registrarse</h3>
        <div class="container">
            <div id="login-row" class="row justify-content-center align-items-center">
                <div id="login-column" class="col-md-6">
                    <div id="login-box" class="col-md-12">
                        <form id="login-form" class="form" action="" method="post">
                            <div class="form-group">
                                <label for="username" class="texto-multilinea">Nombre de usuario:</label><br>
                                <input type="text" id="nombre" name="nombre" class="form-control" required><br>
                            </div>
                            <div class="form-group">
                                <label for="username" class="texto-multilinea">Email:</label><br>
                                <input type="email" id="nombre" name="email" class="form-control" required><br>
                            </div>
                            <div class="form-group">
                                <label for="username" class="texto-multilinea">Repetir email:</label><br>
                                <input type="email" id="nombre" name="email_confirmacion" class="form-control" required><br>
                            </div>
                            <div class="form-group">
                                <label for="password" class="texto-multilinea">Contraseña:</label><br>
                                <input type="text" id="nombre" name="contrasena" class="form-control" required><br>
                            </div>
                              <div class="form-group">
                                <label for="password" class="texto-multilinea">Repetir contraseña:</label><br>
                                <input type="text" id="nombre" name="contrasena_confirmacion" class="form-control" required><br>
                            </div>
                            <div class="form-group">
                                <button type="submit"  id="envio" name="submit" class="btn btn-outline-success" value="submit">Registrarse</button>
                            </div>
                            <div class="text-right texto-multilinea">
                                <p></p>
                                <a href="#">Registrarse</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{%endblock%}